1. Create a list with 3 student dictionaries

In [53]:
students= [{'name': 'Alice', 'grade': 80},
           {'name': 'Bob','grade': 70}, 
           {'name': 'Charlie', 'grade': 60} ]

In [2]:

for s in students:
    print(s['name'])

Alice
Bob
Charlie

2. Print the average grade

In [22]:
avg_g = 0
for g in students:
    avg_g += g['grade']
avg_grade = avg_g / len(students)
print(avg_grade)

70.0

3. print the names of the students who scored above average

In [28]:
for g in students:
    if g["grade"]> avg_grade:
        print(g["name"])

Alice

4. Convert all the names to uppecase and print them

In [54]:
for n in students:
    print(n["name"].upper())

ALICE
BOB
CHARLIE

5. Ask the user for a student name and use try/except to check if it exists in the list

In [59]:
s_name = input("please insert your name: ")
n = False
try:
    for sn in students:
        if s_name == sn["name"]:
            print(sn["grade"])

except:
    print("Error! Unknown name")

please insert your name:  Kyle