In [2]:
import pandas as pd, csv

In [88]:
dic = {}
with open("malazan_bridgeburners.csv", "r") as mala:
    dictionary =csv.DictReader(mala)
    data = [d for d in dictionary]
data[5]
df = pd.DataFrame(data)
df

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained
0,Whiskeyjack,Commander,12,82,0,3
1,Quick Ben,Mage,9,91,12,1
2,Fiddler,Sapper,7,78,0,5
3,Kalam Mekhar,Assassin,8,85,0,2
4,Hedge,Sapper,6,80,0,4
5,Toc the Younger,Scout,4,69,2,3
6,Tavore Paran,Commander,10,77,4,2
7,Karsa Orlong,Warrior,15,94,0,6
8,Trull Sengar,Warrior,11,88,0,1
9,Onos T'oolan,Undead Warrior,13,90,0,0

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10 non-null     object
 1   Role                10 non-null     object
 2   Battles_Fought      10 non-null     float64
 3   Avg_Damage          10 non-null     int64
 4   Healing_Spells      10 non-null     int64
 5   Injuries_Sustained  10 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 612.0+ bytes

In [63]:
df.count()

Name                  10
Role                  10
Battles_Fought        10
Avg_Damage            10
Healing_Spells        10
Injuries_Sustained    10
dtype: int64

In [56]:
df.shape

(10, 6)

In [65]:
df.describe()

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained
count,10,10,10,10,10,10
unique,10,7,10,10,4,7
top,Whiskeyjack,Commander,12,82,0,3
freq,1,2,1,1,7,2

In [95]:
df["Battles_Fought"] = df["Battles_Fought"].astype(float)
df["Battles_Fought"].mean()

np.float64(9.5)

In [96]:
df["Avg_Damage"] = df["Avg_Damage"].astype(int)
df["Avg_Damage"].median()

np.float64(83.5)

In [97]:
df["Healing_Spells"] = df["Healing_Spells"].astype(int)
df["Healing_Spells"].max()

np.int64(12)

In [112]:
df["Injuries_Sustained"] = df["Injuries_Sustained"].astype(int)
df[(df["Battles_Fought"] >7) & (df["Avg_Damage"] > 85)]

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained
1,Quick Ben,Mage,9.0,91,12,1
7,Karsa Orlong,Warrior,15.0,94,0,6
8,Trull Sengar,Warrior,11.0,88,0,1
9,Onos T'oolan,Undead Warrior,13.0,90,0,0

In [129]:
new_df = df[(df["Battles_Fought"] >7) & (df["Avg_Damage"] > 85)].copy()
new_df.sort_values(by = "Avg_Damage", ascending = False)

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained
7,Karsa Orlong,Warrior,15.0,94,0,6
1,Quick Ben,Mage,9.0,91,12,1
9,Onos T'oolan,Undead Warrior,13.0,90,0,0
8,Trull Sengar,Warrior,11.0,88,0,1

In [137]:
new_df["Battle_Effciency"] = new_df["Avg_Damage"] * new_df["Battles_Fought"] / new_df["Injuries_Sustained"]
new_df

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained,Battle_Effciency
1,Quick Ben,Mage,9.0,91,12,1,819.0
7,Karsa Orlong,Warrior,15.0,94,0,6,235.0
8,Trull Sengar,Warrior,11.0,88,0,1,968.0
9,Onos T'oolan,Undead Warrior,13.0,90,0,0,inf

In [139]:
new_df.sort_values(by = "Battle_Effciency", ascending = False)

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained,Battle_Effciency
9,Onos T'oolan,Undead Warrior,13.0,90,0,0,inf
8,Trull Sengar,Warrior,11.0,88,0,1,968.0
1,Quick Ben,Mage,9.0,91,12,1,819.0
7,Karsa Orlong,Warrior,15.0,94,0,6,235.0

In [146]:
be_summary =new_df.groupby("Role").mean("Battle_Effciency")
be_summary

,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained,Battle_Effciency
Role,,,,,
Mage,9.0,91.0,12.0,1.0,819.0
Undead Warrior,13.0,90.0,0.0,0.0,inf
Warrior,13.0,91.0,0.0,3.5,601.5

In [150]:
be_summary.to_csv("bridgeburners_summary.csv", index = False)

In [155]:
df[(df["Battles_Fought"] >7) & (df["Avg_Damage"] > 85)]

,Name,Role,Battles_Fought,Avg_Damage,Healing_Spells,Injuries_Sustained
1,Quick Ben,Mage,9.0,91,12,1
7,Karsa Orlong,Warrior,15.0,94,0,6
8,Trull Sengar,Warrior,11.0,88,0,1
9,Onos T'oolan,Undead Warrior,13.0,90,0,0